body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}
button {
  border: none;
  border-radius: 15px;
  padding: 0.5em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  text-align: center;
}
h3 {
  font-size: 1em;
  text-align: center;
}
h4 {
  font-size: 1em;
}
header {
  background-color: #8ba892;
  padding: 2em;
}
li {
  list-style-type: none;
}
.celsius {
  margin-left: 0.5em;
}
.container {
  width: 450px;
}
.farenheit {
  margin-right: 0.5em;
}
.icon {
  text-align: center;
  padding-top: 2em;
}
.time-of-day {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.morning {
  background-color: #f2d974;
  display: flex;
}
.day {
  background-color: #c7956d;
  display: flex;
}
.evening {
  background-color: #965d62;
  display: flex;
}
.night {
  background-color: #534e52;
  display: flex;
}
